<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!-- 扫描controller注解包 -->
	<context:component-scan base-package="com.fj.controller"></context:component-scan>
	<!-- 注解映射器和适配器 -->
	<mvc:annotation-driven conversion-service="conversionService" validator="validator"></mvc:annotation-driven>
	<!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<!-- prefix是前缀   suffix是后缀-->
		<property name="prefix" value="/WEB-INF/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	<!-- 配置我们自定义的类型转换器 -->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<!-- 转换器 -->
		<property name="converters">
			<list>
				<bean class="com.fj.converter.CustomDateConverter"></bean>
			</list>
		</property>
	</bean>
	<!-- 配置校检器 -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<!-- 校检器 这里我们呢使用了hibernate的校检器-->
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator"></property>
		<!-- 指定校验使用的资源文件，如果不指定则默认使用classpath下的ValidationMessages.properties -->
		<property name="validationMessageSource" ref="messageSource"></property>
 	</bean>
 	
 	<!--校检器的错误信息文件  -->
 	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
 		<!-- 配置资源名 -->
 		<property name="basenames">
 			<list>
 				<value>classpath:CustomValidationMessages</value>
 			</list>
 		</property>
 		<!-- 资源文件的编码格式 -->
 		<property name="fileEncodings" value="utf-8"></property>
 		<!-- 对资源文件的缓存时间,单位秒 -->
 		<property name="cacheSeconds" value="120"/>
 	</bean>
 	
 	<!-- 配置异常处理器 -->
 	<bean id="customExceptionResolver" class="com.fj.exception.CustomExceptionResolver"></bean>
 	<!--文件上传  配置解析器 -->
 	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
 		<!-- 设置文件上传大小 5MB-->
 		<property name="maxUploadSize">
 			<value>5242880</value>
 		</property>
 	</bean>
</beans>